body {
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header h3 {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-basis: 400px;
}

.hero {
  background-color: #1F2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
  flex-wrap: wrap;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: -10px;
}

.hero .text {
  font-size: 18px;
  color: white;
  flex-basis: 400px;
}

.hero button {
  background-color: #3882F6;
  width: 100px;
  border-radius: 5px;
  border: 0px;
  color: white;
  padding: 5px;
}

.hero .image img{
  width: 600px;
  border-radius: 10px;
  margin-left: -200px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  padding-top: 5px;
}

.content h1 {
  color: #1F2937;
  font-size: 36px;
}

.content .images {
  display: flex;
  justify-content: space-around;
}

.content .images div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content .images div p {
  font-size: 15px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.content .images img {
  width: 150px;
  border-radius: 10px;
  border: 2px solid #3882F6;
}

.quote-content {
  background-color: #E5E7EB;
  padding: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-content .quote {
  font-size: 36px;
  font-weight: lighter;
  width: 600px;
}

.quote-content .author {
  margin-left: auto;
  font-size: 15px;
  width: 600px;
}

.sign-up {
  background-color: #3882F6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px;
  margin-left: 600px;
  margin-right: 600px;
}

.sign-up .sign-up-content {

}

.sign-up button {

}

.footer {
  padding: 15px;
  background-color: #1F2937;
  text-align: center;
  color: white;
}